<mat-toolbar class="mat-elevation-z4" color="primary">
  <div class="toolbar-icon">
    <!-- <mat-icon *ngIf="showBackArrow" alt="back arrow"> arrow_back </mat-icon> -->
    <img
      src="https://png.pngtree.com/png-clipart/20200225/original/pngtree-wallet-vector-illustration-isolated-on-white-background-wallet-icon-png-image_5261954.jpg"
      width="25px"
      height="25px"
    />
    &nbsp;Budget App
  </div>

  <span class="fill-space"></span>

  <!-- <div class="toolbar-icon">
<mat-icon>account_circle</mat-icon>
</div> -->
</mat-toolbar>
